/* General styles */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {
  font-family: "Nunito", sans-serif;
  line-height: 1;
  color: #333;
  text-rendering: optimizeLegibility;
}

/* Add your CSS here */
